DB_HOST=localhost
DB_USER=your_username        ← Placeholder
DB_PASS=your_password    ← Placeholder  
DB_NAME=your_database        ← Placeholder
DB_PORT=10452

JWT_SECRET=
DB_CA_PATH=certs/aiven-ca.pem